*{
    padding: 0;
    margin: 0;
}
.max-width{
    width: 100%;
  
    

}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.main-titel {
    text-align: center;
    margin-top: 7%;
}
.main-titel h2 {
    font-size: 30px;
    margin-bottom: 34px;
}
.main-titel p {
    font-size: 17px;
    font-weight: 100;
}
.header-section{
 background-color: #22c3a3;
}
.header-logo {
    float: left;
    font-weight: 100;
    color: #fff;
    margin-left: 32px;
}
.header-logo h2 a{
    margin-top: 18px;
    FONT-SIZE: 28px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.header-logo p{}
.header-menu{
    float: right;
    margin-right: 30px;
}
.header-menu ul{}
.header-menu ul li{
 display: inline-block;
list-style: none;

}
.header-menu ul li a {
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    padding: 30px 11px;
    color: #fff;
    text-transform: uppercase;
}

.banner-section{
    background: url(./img/header-bg01.jpg) no-repeat bottom ;
    background-size: cover;
    padding: 200px;
}
.border {
    border: 2px  solid #22c3a3;
    margin-top: 29%;
}
.banner-titel{
    text-align: center;
}
.banner-titel h1 {
    font-size: 49px;
    margin-bottom: 14px;
    color: #fff;
}
.banner-titel p {
    color: #fff;
    margin-bottom: 32px;
    font-size: 18px;
}
.banner-titel span a {
    display: inline-block;
    text-decoration: none;
    background-color: #0bbf9a;
    border-radius: 6px;
    color: #fff;
    border: 1.5px solid #fff;
    padding: 15px 28px;
}
.servise-item {
    margin-left: 12px;
}
.servise-content {
    width: 18%;
    text-align: center;
    padding: 97px 11px;
    float: left;
    margin-left: 51px;
}
.servise-content i {
    font-size: 31px;
    color: #22c3a3;
    margin-bottom: 27px;
}
.servise-content h3 {
    margin-bottom: 10px;
}
.servise-content p {
    line-height: 23px;
    font-size: 16.6px;
}
.img img {
    width: 38%;
    float: left;
    padding: 0px 40px;
}

.about-section {
    margin-top: 110px;
}

.about-contect {
    width: 51%;
    float: right;
    margin-right: 4%;
    margin-bottom: 17px;
}
.about-contect h4 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 47, 47);
    font-family: 'Open Sans', sans-serif;

}
.about-contect p{
    font-family: 'Open Sans', sans-serif;
    font-size:14px ;
    font-weight: 550;
}
.jk{
    margin-top: -20px;
    margin-bottom: 5%;
}
.contect-section{
    background-color: rgb(246, 246, 246);
}
.md {
    margin-top: 5%;
}
.md p{
    margin-top: -15px;
}
.md h2{
    display: inline-block;
    margin-top: 5%;
}
.cantect-item {
    width: 1040px;
    margin: auto;
    padding: 66px;
}
.cantect-icon i{
 margin-bottom: 14px;
 color: #22c3a3;
}
.cantect-icon {
    float: left;
    text-align: center;
    padding: 0 108px;
}
.cantect-icon p{
  
}
.footer{
    background-color:#22c3a3;
  
}
.footer ul {
    text-align: center;
}
.footer ul li{
    display: inline-block;
}
.footer ul li a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    
    padding: 18px 12px;
}